*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
align-items: center;
height: 160vh;

text-align: center;

background-color: rgb(240,235,248); 
}
hr.new5 {
    border: 10px solid green;
    border-radius: 5px;
    width: 100%;

  }
  .box{
    
background-color: white;
padding: 5px;
margin: 3px;

  }
  .box h4{
 display: flex;
 align-items: self-start;
 margin-top: 23px;
 
 /* justify-content: flex-start; */
  }
  .box h1{
    font-family: sans-serif;

  }
  .box1{
background-color: white;
    align-items: center;
  }
  
  .box2{
background-color: white;
    align-items: center;
  }
  .box3{
background-color: white;
    align-items: center;
  }
  .box4{
background-color: white;
    align-items: center;
  }
  .box5{
background-color: white;
    align-items: center;
  }
  .box6{
background-color: white;
    align-items: center;
  }
  .box1{
    
  text-align: left;
  padding: 23px;
    /* text-align: center; */
    background-color: white;
    height: 100px;
    margin-top: 23px;

  }
  .box2{
    text-align: center;
    background-color: white;
    height: 100px;
    margin-top: 47px;
    text-align: left;
    padding: 10px;
   

    

  }
  .box3{
    /* text-align: center; */
    background-color: white;
    height: 100px;
    margin-top: 47px;
    border: none;
    outline: none;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    

  }
  .box4{
    text-align: center;
    text-align: left;
    background-color: white;
    height: 100px;
    margin-top: 47px;
    padding: 10px;
    
    

  }
.box5{
    text-align: center;
    padding: 10px;
    background-color:white;
    height: 30vh;
    margin-top: 47px;
margin: 40px;
    padding: 13px;
    border:  2px solid rgb(3, 1, 1);
  

}
.box5 {
    padding: 40px;
    list-style-type: none;
}
.box5 li{
    text-align: left;
}